.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0a0a23;
    color: white;
    padding: 0 20px;
}

.header-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: #ffd700;
}


.flyout {
    color: white;
}

.flyout .header-link {
    color: white;
    text-decoration: none;
    padding: 20px;
}

